/* Left and right column. */
.column.left {
	width: 20%;
}

/* Middle column. */
.column.middle {
	width: 40%;
}

.column.right {
	width: 25%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.menuimg {
	border-width: 3px;
	box-shadow: 2px 4px 3px #000000;
	background-color: #614619;
	float: right;
	padding: 3px;
	max-width: 97%;
	min-width: 97%;
}

.linkmenu {
	background-color: #000000;
	border-color: #12c024;
	border-radius: 4px;
	border-style: ridge;
	border-width: 5px;
	float: left;
	max-width: 200px;
	overflow: auto;
	width: 85%;
}

.infobutton {
	border-style: ridge;
	border-color: #000000;
	font-size: 30px;
	background-color: #151515;
	text-decoration: none;
	color: #e69f1c;
	border-radius: 20px;
	padding: 5px;
}

.infobutton:hover {
	background-color: #000015;
}
