.list {
	border-left-color: #333333;
	border-left-style: solid;
	background-color: #050505;
}

.checkpoint {
	background-color: #002040;
	padding-left: 8px;
}

.linkrow {
	height: 70px;
	padding: 2px;
	padding-left: 60px;
	width: auto;
}
