.list {
    border-left-style: solid;
    Border-left-color: #333333;
    background-color: #050505;
}

.checkpoint {
    background-color: #002040;
}

.linkrow {
    padding-left: 60px;
}