/* Main CSS for the common website template. */


/* Creates a Background. */

body {
	background-color: #101010;
	color: #ffffff;
	font-family: "Times New Roman";
}

.body {
	border-style: none;
	height: 650px;
	margin: 8px;
}


/*Header.*/

.header {
	background-color: #151525;
	color: #1bbd13;
	height: 50px;
	padding: 15px;
}

.title {
	background-color: #003962;
	border-left-color: #249dff;
	border-left-style: solid;
	color: #37e52e;
	padding-left: 4px;
	padding-right: 15px;
}

.timestamp {
	float: right;
	font-size: 20px;
	padding: 1px;
}

/* Makes a navigation bar. */

.topnav {
	background-color: #080500;
	color: #ad1313;
	overflow: auto;
}

.topnav a {
	background-color: #080000;
	color: #ad1313;
	display: block;
	float: left;
	padding: 10px 20px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #002010;
	color: #0000f0;
}

.navicon {
	padding-right: 6px;
}

.footerbox {
	background-color: #252525;
	box-shadow: 3px 3px 5px #101010;
	color: #ffffff;
	float: left;
	padding: 5px;
	width: 300px;
}

.footer {
	background-color: #303030;
	color: #ffffff;
	font-size: 15px;
	height: 250px;
	padding: 10px;
}

/* Divides website into columns. */

.column {
	padding: 10px;
	background-color: #202020;
	float: left;
	margin-right: 1%;
	margin-left: 1%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Sets the color of regular links. */

a:link {
	color:#ffc02b;
}
a:visited {
	color:#0a2ead;
}
a:hover {
	color:#35fc2b;
}
a:active {
	color:#480078;
}

/* Choses style of specific text. */

h1 {
	color: #2ddc24;
}

h2 {
	color: #00D165;
}

h3 {
	color: #06681d;
}

p {
	color: #00C2C2;
}

li {
	color: #00CC1B;
}

ul {
	padding-left: 30px;
}


.AKT {
	padding: 5px;
}

.embed {
	background-color: #202030;
	color: #ffffff;
	float: left;
	margin-right: 65px;
	padding: 10px;
}


/*Creates buttons*/

.button {
	background-color: #004fa9;
	border: none;
	color: #2bcd23;
	cursor: pointer;
	display: inline-block;
	margin: 4px 2px;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
}
/* Non Standard Styling */

/* width */
::-webkit-scrollbar {
	width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #202040;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #306030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #204020;
}

.custom-cur {
  Aero-Arrow: url("Media/middlefinger.cur"), default;
}
