
/* Left and right column. */
.column.left {
    width: 15%;
    min-width: 210px;
}

/* Middle column. */
.column.middle {
    width: 45%;
}

.linkmenu {
    border-style: ridge;
    border-color: #12c024;
    border-width: 5px;
    border-radius: 4px;
    float: left;
    background-color: #000000;
    width: 200px;
    overflow: auto;
}
